<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AAPL</key>
	<dict>
		<key>Margin</key>
		<real>4.669629629629627</real>
		<key>Original Price</key>
		<real>168.75</real>
		<key>Original Value</key>
		<real>298.6875</real>
		<key>Price</key>
		<real>176.63</real>
		<key>Symbol</key>
		<string>AAPL</string>
		<key>Time</key>
		<string>11:44 PM</string>
		<key>Value</key>
		<real>312.6351</real>
	</dict>
	<key>AMD</key>
	<dict>
		<key>Margin</key>
		<real>-8.093980102298918</real>
		<key>Original Price</key>
		<real>177.91</real>
		<key>Original Value</key>
		<real>298.8888</real>
		<key>Price</key>
		<real>163.51</real>
		<key>Symbol</key>
		<string>AMD</string>
		<key>Time</key>
		<string>11:44 PM</string>
		<key>Value</key>
		<real>274.6968</real>
	</dict>
	<key>CDNS</key>
	<dict>
		<key>Margin</key>
		<real>0.40000000000000896</real>
		<key>Original Price</key>
		<real>305.0</real>
		<key>Original Value</key>
		<real>497.15</real>
		<key>Price</key>
		<real>306.22</real>
		<key>Symbol</key>
		<string>CDNS</string>
		<key>Time</key>
		<string>11:44 PM</string>
		<key>Value</key>
		<real>499.1386</real>
	</dict>
	<key>INTC</key>
	<dict>
		<key>Margin</key>
		<real>-13.657239545564417</real>
		<key>Original Price</key>
		<real>41.37</real>
		<key>Original Value</key>
		<real>299.9325</real>
		<key>Price</key>
		<real>35.72</real>
		<key>Symbol</key>
		<string>INTC</string>
		<key>Time</key>
		<string>11:44 PM</string>
		<key>Value</key>
		<real>258.96999999999997</real>
	</dict>
	<key>MSFT</key>
	<dict>
		<key>Margin</key>
		<real>0.6462998736018648</real>
		<key>Original Price</key>
		<real>419.31</real>
		<key>Original Value</key>
		<real>348.02729999999997</real>
		<key>Price</key>
		<real>422.02</real>
		<key>Symbol</key>
		<string>MSFT</string>
		<key>Time</key>
		<string>11:44 PM</string>
		<key>Value</key>
		<real>350.2766</real>
	</dict>
	<key>QCOM</key>
	<dict>
		<key>Margin</key>
		<real>5.436046511627904</real>
		<key>Original Price</key>
		<real>172.0</real>
		<key>Original Value</key>
		<real>569.32</real>
		<key>Price</key>
		<real>181.35</real>
		<key>Symbol</key>
		<string>QCOM</string>
		<key>Time</key>
		<string>11:44 PM</string>
		<key>Value</key>
		<real>600.2685</real>
	</dict>
</dict>
</plist>
