<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AAPL</key>
	<dict>
		<key>Margin</key>
		<real>2.3348148148148136</real>
		<key>Original Price</key>
		<real>168.75</real>
		<key>Original Value</key>
		<real>298.6875</real>
		<key>Price</key>
		<real>172.69</real>
		<key>Symbol</key>
		<string>AAPL</string>
		<key>Time</key>
		<string>09:40 PM</string>
		<key>Value</key>
		<real>305.6613</real>
	</dict>
	<key>AMD</key>
	<dict>
		<key>Margin</key>
		<real>-9.887021527738746</real>
		<key>Original Price</key>
		<real>177.91</real>
		<key>Original Value</key>
		<real>298.8888</real>
		<key>Price</key>
		<real>160.32</real>
		<key>Symbol</key>
		<string>AMD</string>
		<key>Time</key>
		<string>09:40 PM</string>
		<key>Value</key>
		<real>269.33759999999995</real>
	</dict>
	<key>CDNS</key>
	<dict>
		<key>Margin</key>
		<real>-1.1278688524590157</real>
		<key>Original Price</key>
		<real>305.0</real>
		<key>Original Value</key>
		<real>497.15</real>
		<key>Price</key>
		<real>301.56</real>
		<key>Symbol</key>
		<string>CDNS</string>
		<key>Time</key>
		<string>09:40 PM</string>
		<key>Value</key>
		<real>491.5428</real>
	</dict>
	<key>INTC</key>
	<dict>
		<key>Margin</key>
		<real>-12.231085327532016</real>
		<key>Original Price</key>
		<real>41.37</real>
		<key>Original Value</key>
		<real>299.9325</real>
		<key>Price</key>
		<real>36.31</real>
		<key>Symbol</key>
		<string>INTC</string>
		<key>Time</key>
		<string>09:40 PM</string>
		<key>Value</key>
		<real>263.2475</real>
	</dict>
	<key>MSFT</key>
	<dict>
		<key>Margin</key>
		<real>-1.3522215067611114</real>
		<key>Original Price</key>
		<real>419.31</real>
		<key>Original Value</key>
		<real>348.02729999999997</real>
		<key>Price</key>
		<real>413.64</real>
		<key>Symbol</key>
		<string>MSFT</string>
		<key>Time</key>
		<string>09:40 PM</string>
		<key>Value</key>
		<real>343.3212</real>
	</dict>
	<key>QCOM</key>
	<dict>
		<key>Margin</key>
		<real>-1.25581395348837</real>
		<key>Original Price</key>
		<real>172.0</real>
		<key>Original Value</key>
		<real>569.32</real>
		<key>Price</key>
		<real>169.84</real>
		<key>Symbol</key>
		<string>QCOM</string>
		<key>Time</key>
		<string>09:40 PM</string>
		<key>Value</key>
		<real>562.1704</real>
	</dict>
</dict>
</plist>
